@import '../../scss/app';

app-person-crud {
    mat-toolbar {
        justify-content: space-between !important;
        display: flex !important;
    }

    .content-form {
        padding: 12px 36px;

        mat-form-field {
            width: 100%;
        }
    }

    .mat-dialog-actions {
        .mat-button {
            border-radius: 50px;
            font-weight: bold;
            padding: 5px 0;
        }

        .content-botton {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 20px;

            @include media-breakpoint-down('sm') {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .spinner {
                &:before {
                    content: '';
                    box-sizing: border-box;
                    position: absolute;
                    top: 50%;
                    left: 90%;
                    width: 20px;
                    height: 20px;
                    margin-top: -10px;
                    margin-left: -10px;
                    border-radius: 50%;
                    border: 2px solid #ffffff;
                    animation: spinner .8s linear infinite;
                }
            }

            .content-btn-left {
                width: 50%;
                padding-right: 12.5px;
                padding-left: 25px;
                min-width: 200px;

                @include media-breakpoint-down('sm') {
                    padding-right: 0;
                    padding-left: 0;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    width: 80%;
                }

                .mat-button {
                    width: 100%;
                    background: #2ccf96;
                    color: white;
                }
            }

            .content-btn-right {
                width: 50%;
                padding-left: 12.5px;
                padding-right: 25px;
                min-width: 200px;

                @include media-breakpoint-down('sm') {
                    padding-right: 0;
                    padding-left: 0;
                    width: 80%;
                }

                .mat-button {
                    width: 100%;
                    background-color: #8e91a2;
                    color: white;
                }
            }
        }
    }
}


@keyframes giro{
    0% {
        transform: rotate(0deg);
        border-radius: 50%;
    }
    50% {
        border-radius: 20%;        
    }    
    100% {
        border-radius: 50%;
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}